<main-header></main-header>

<!-- Job Listing -->
<div class="alice-bg section-padding-bottom section-padding-top">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <div class="job-listing-container">
          <div class="filtered-job-listing-wrapper">
            <div class="job-view-controller-wrapper">
              <div class="job-view-controller">
                <div class="controller list active">
                  <i data-feather="menu"></i>
                </div>
                <div class="controller grid">
                  <i data-feather="grid"></i>
                </div>
                <div class="job-view-filter">
                  <select class="selectpicker">
                    <option value="" selected>Most Recent</option>
                    <option value="california">Top Rated</option>
                    <option value="las-vegas">Most Popular</option>
                  </select>
                </div>
              </div>
              <div class="showing-number">
                <span>Showing 1–12 of 28 Jobs</span>
              </div>
            </div>
            <div class="job-filter-result">
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                      <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                      <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">UI Designer</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                      <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Land Development Marketer</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington</a></span>
                      <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">UI Designer</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                      <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Land Development Marketer</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington</a></span>
                      <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Designer Required</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                      <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Project Manager</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                      <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Las Vegas</a></span>
                      <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                      <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Designer Required</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                      <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
              <div class="job-list">
                <div class="thumb">
                  <a href="#">
                    <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="body">
                  <div class="content">
                    <h4><a href="job-details.html">Project Manager</a></h4>
                    <div class="info">
                      <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                      <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                      <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                    </div>
                  </div>
                  <div class="more">
                    <div class="buttons">
                      <a href="#" class="button">Apply Now</a>
                      <a href="#" class="favourite"><i data-feather="heart"></i></a>
                    </div>
                    <p class="deadline">Deadline: Oct 31, 2018</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination-list text-center">
              <nav class="navigation pagination">
                <div class="nav-links">
                  <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                  <a class="page-numbers" href="#">1</a>
                  <span aria-current="page" class="page-numbers current">2</span>
                  <a class="page-numbers" href="#">3</a>
                  <a class="page-numbers" href="#">4</a>
                  <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                </div>
              </nav>                
            </div>
          </div>
          <app-side-panel></app-side-panel>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Job Listing End -->

<app-footer></app-footer>